.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  height: 40px;
  outline: none;
  border-radius: 5px;
  color: white;
}

.btn-primary {
  background-color: cyan;
}
.btn-primary:hover {
  background-color: lightblue;
}
.btn-default {
  border-color: purple;
}
.btn-primary:hover {
  background-color: violet;
}
.btn.active {
  transform: scale(0.9);
}
